@media only screen and (max-width: 600px)
{
    [class*="container"]{
        flex-flow: column nowrap;
    }
}

@media only screen and (min-width: 600px)
{
    [class="container"], [class="article-container"]{
        flex-flow: row wrap;
    }

    [class="up-container"],  [class="article-nav-container"], [class="second-container"]{
        flex-flow: column nowrap;
    }

    [class="article"] {
        width: 40%;
    }
    
}

@media only screen and (min-width: 992px)
{
    [class*="container"]{
        flex-flow: row wrap;
    }
    
    [class="article-nav-container"]  {
        flex-grow: 5;
    }
    [class="publicidad-container"] {
        flex-grow: 1;
    }

}


.nav {
    flex-grow: 4;
}

.logo, .social {
    flex-grow: 1;
}

.logo, .social, .nav {
    background-color:indianred;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin: 1.75%;
}

.container, .second-container{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    max-width: 1200px;
}

.up-container {
    background-color:darkslategrey;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 97.5%;
    
}

.banner-container {
    justify-content: space-around;
    background-color:goldenrod;
    margin: 1%;
    width: 97.5%;
}

.banner {
    flex-grow: 1;
    margin: 1.75%;
    padding: 1%;
    background-color: yellow;
}

.article-nav-container {
    display: flex;
    background-color: grey;
    margin: 1%;
}

.article-container {
    display: flex;
    flex-grow: 1;
    margin: 1%;
    width: 97.5%;
}

.article {
    background-color: darkslategray;
    flex-grow: 1;
    padding: 2%;
    margin: 1.75%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.navigation {
    background-color:aquamarine;
    flex-grow: 1;
    padding: 2%;
    margin: 2.75%;
    margin-right: 3.25%;
    margin-top: 0;
}

.publicidad-container {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    padding: 1%;
    margin: 1%;
    margin-right: 1.25%;
    
}

.publicidad {
    background-color: yellow;
    padding: 2%;
    margin: 3%;
    margin-top: 1%;
}

.pie {
    display: flex;
    margin: 1.25%;
    padding: 1%;
    flex-grow: 1;
    background-color: yellow;
}